body {
	background: black;
	font-family: "Montserrat", sans-serif;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
	padding: 10px;
	text-align: center;
}
.postcard-header h1 {
	width: 100%;
	margin: 0px;
	padding-top: 10px;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: 1px gray solid;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: rgb(85, 88, 85);
	padding: 5px 10px;
}
